body {
    background-image: url("helsinki.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.button-menu {
    text-align: center;
}


.button {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: #e42226;
    border: 10px solid black;
    padding: 65px;
    line-height: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.button2 {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: #e42226;
    border: 10px solid black;
    padding: 50px;
    line-height: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.button2:hover {
    background-color: black;
    color: white;
    border: 10px solid #e42226;
}

a.button2 {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.buttontext {
    margin-left: -45px;
    font-family: sans-serif;
}

.buttontext2 {
    margin-left: -35px;
    font-family: sans-serif;
}

.buttontext3 {
    margin-left: -45px;
    font-family: sans-serif;

}
.sijainen {
    text-align: center;
    margin: auto;

}

.button:hover {
    background-color: black;
    color: white;
    border: 10px solid #e42226;
}

a.button {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    text-align: center;
}

.logout {
    margin-left: 0%;
    background-color: #e42226;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

.logout:hover {
    background-color: black;
    color: white;
    border: 2px solid #e42226;
}

.sijainenSignIn {
    text-align: center;
}

.SignIn {
    background-color: #e42226;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.SignIn:hover {
    background-color: black;
    color: white;
    border: 2px solid #e42226;
}

h1 {
    font-family: sans-serif;
}

footer {
    position: absolute;
    bottom: 4%;
    width: 99%;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}

.sisaanKirjautunut {
    margin-left: 85%;
}