.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.thumbnail {
    width: 145%;
    margin-right: 0;
}
#toimeksiannot {
    margin-left: 87px;
}
#toimeksianto-teksti {
    margin-left: 105px;
}
#spinneri {
    margin-left: 50%;
    margin-top: 125px;
}

