#submit-btn {
    margin-left: 45%;
}

#submit-btn2{
    margin-left: 42%;
}

#nappi1 {
margin-left: 78.8%;
}

#nappi2 {
    margin-left: 86.8%;
    }


#muokkaatietojanappi {
    margin-left: 592px;
}

#muokkaatietolomakenappi {
    margin-left: 48px;
}

#spinneri {
    margin-right: 200px;
}
#varatutTeksti {
     font-size: 14px;
     color: darkgreen;
 }
#avoimetTeksti {
    font-size: 14px;
    color: darkred;
}
#vahvistamatonteksti {
    font-size: 14px;
    color: grey;
}
#kouluntiedotTeksti {
    color: black;
}

#lomakeCol {
    margin-left: 35%;
}

#lomake2Col {
    margin-left: 35%;
}
