#submit-btn {
    margin-left: 320px;
}

#nappi1 {
margin-left: 78.8%;
}


#muokkaatietojanappi {
    margin-left: 592px;
}

#muokkaatietolomakenappi {
    margin-left: 48px;
}
#spinneri {
    margin-right: 200px;
}
#varatutTeksti {
     font-size: 14px;
     color: darkgreen;
 }
#avoimetTeksti {
    font-size: 14px;
    color: darkred;
}
#kouluntiedotTeksti {
    color: black;
}