#submit-btn {
    margin-left: 45%;
}

#submit-btn2{
    margin-left: 42%;
}

#nappi1 {
margin-left: 72.3%;
}


#muokkaatietojanappi {
    margin-left: 64%;
}

#muokkaatietolomakenappi {
    margin-left: 48px;
}

#spinneri {
    margin-right: 200px;
}
#varatutTeksti {
     font-size: 14px;
     color: darkgreen;
 }
#avoimetTeksti {
    font-size: 14px;
    color: darkred;
}
#kouluntiedotTeksti {
    margin-left: 6.2%;
}

#lomakeCol {
    margin-left: 35%;
}

#lomake2Col {
     margin-left: 35%;
 }

#thumb {
    margin-left: 10%;

}

#kenttatext {
    color: white;
}